.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  justify-content: center;
  position: relative;
  padding: 0 50px;
  box-shadow: 0 -5px 5px -5px rgb(0, 0, 0, 0.1);
}

img {
  width: 120px;
  height: auto;
}
.hero {
  text-decoration: none;
  font-weight: light;
  color: gray;
}
