.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 75px;
  max-height: 75px;
  justify-content: space-around;
  position: relative;
  padding: 0 25%;
  box-shadow: 0 2px 3px rgb(0, 0, 0, 0.1);
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
