.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  position: relative;
  padding: 0 100px;
  box-shadow: 0 2px 3px rgb(0, 0, 0, 0.1);
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
