$product-card-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
$screen-small: 420px;

$card-width: 400px;
$card-height: 320px;

.product__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: $card-width;
  height: $card-height;
  border-radius: 9px;
  padding: 0;
  margin-bottom: 30px;
  box-shadow: $product-card-shadow;
  position: relative;
  box-sizing: content-box;

  @media only screen and (max-width: $screen-small) {
    width: 270px;
    height: 250px;
  }

  &--details {
    display: flex;
    height: $card-height;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: white;
    @media only screen and (max-width: $screen-small) {
      height: 250px;
    }
  }
  &--description {
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 14px;
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
    @media only screen and (max-width: $screen-small) {
      display: none;
    }
  }
  &--title {
    font-size: 18px;
    font-weight: bold;
    color: #474747;
    text-align: center;
    @media only screen and (max-width: $screen-small) {
      font-size: 14px;
    }
  }
  &--img {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: rgb(228, 228, 228);
    align-items: center;
    height: 320px;
    margin-right: 10px;
    border-radius: 9px 0px 0px 9px;

    @media only screen and (max-width: $screen-small) {
      height: 250px;
    }
    & > img {
      width: 150px;
      height: auto;
      margin: 10px 20px;
      mix-blend-mode: multiply;
      background-size: cover;
      @media only screen and (max-width: $screen-small) {
        width: 100px;
      }
    }
  }
  &--rating {
    display: inline-block;
    text-align: center;
    color: gray;
    font-weight: bold;
    font-size: 12px;
  }
  &--price {
    font-size: 18px;
    font-weight: bold;
  }
  &--offer {
    line-height: 1.7em;
    letter-spacing: 0.12rem;
    font-size: 14px;
    @media only screen and (max-width: $screen-small) {
      text-align: center;
    }
    &_expired {
      line-height: 1.7em;
      letter-spacing: 0.12rem;
      font-size: 14px;
      color: rgb(134, 45, 45);
      font-weight: bold;
    }
  }
  &--details > button {
    margin: 0px 5px 5px 2px;
    width: 150px;
    background-color: #008cba;
    color: white;
    padding: 10px 12px;
    text-align: center;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    &:disabled {
      background-color: grey;
    }
    &:hover:enabled {
      cursor: pointer;
      box-shadow: 0px 10px 10px -5px rgba(30, 144, 255, 40%);
      transform: scale(1.03);
    }
    &:active:enabled {
      box-shadow: 0px 4px 8px rgba(30, 144, 255, 30%);
      transform: scale(0.98);
    }
  }
}
