.about {
  display: flex;
  justify-content: center;
  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 50px;
    max-width: 500px;
    & > img {
      width: 250px;
      border: solid 1px lightgray;
      border-radius: 50%;
    }
    &--name {
      text-align: center;
    }
    &--contact > a {
      text-decoration: none;
      color: rgb(88, 88, 180);
    }
  }
}
