.Home {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.Product__grid {
  margin: 0px 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: space-between;
}
