.Home {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.Product__grid {
  margin-top: 40px;
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.Product_item {
  display: flex;
  flex: 1;
}
