.item_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 1;
}
.product__item--container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.product__item {
  max-width: 600px;
  display: flex;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product__item--img {
  display: flex;
  background-color: rgb(228, 228, 228);
  align-items: center;
  height: 400px;
  margin-right: 10px;
  border-radius: 9px 0px 0px 9px;
}

.product__item--img > img {
  width: 225px;
  height: auto;
  margin: 10px 20px;
  mix-blend-mode: multiply;
  background-size: cover;
}

.item_layout--title {
  font-size: 22px;
  max-width: 450px;
  text-align: center;
}

.product__item--description {
  font-size: 18px;
  text-align: left;
  font-weight: lighter;
  line-height: 1.7em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__item--price {
  font-size: 24px;
  font-weight: bold;
}

.product__item--offer {
  line-height: 1.7em;
  letter-spacing: 0.12rem;
  font-size: 18px;
  font-weight: bold;
}
.product__card--offer_expired {
  line-height: 1.7em;
  letter-spacing: 0.12rem;
  font-size: 16px;
  color: red;
  font-weight: bold;
}

.product__item--container > button {
  margin: 0px 5px 5px 2px;
  width: 150px;
  background-color: rgb(116, 219, 121);
  color: white;
  font-weight: bold;
  padding: 10px 12px;
  text-align: center;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.product__item--container > button:disabled {
  background-color: grey;
}

.product__item--container > button:hover {
  cursor: pointer;
  box-shadow: 0px 10px 10px -5px rgba(30, 144, 255, 40%);
  transform: scale(1.03);
}
.product__item--container > button:active {
  box-shadow: 0px 4px 8px rgba(30, 144, 255, 30%);
  transform: scale(0.98);
}
